@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.panel-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    font-family: Roboto;
}

button{
    height: 100%;
}