@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("img/bookstore.jpg");
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.panel-login{
    width: 20vw;
    height: 50vh;
    box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
    background-color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    display: flex;
    flex-direction: column;
}

div label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

div input{
    padding: 11px 19px;
    background-color: #f2f4f5;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    width: 17vw;
    height: 6vh;
    transition: border-bottom 2s linear;
}

input:focus{
    border-bottom: 3px solid black;
}

.button{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

button{
    background-color: #333;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    width: 70%;
    height: 10%;
    font-size: 1em;
    color: white;
}

.choose{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
    margin-bottom: 20px;
    font-family: Roboto, serif;
    border-bottom: 1px solid rgba(66, 68, 90, 0.4);
}

.choose div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.choose div p{
    cursor: pointer;
}

.active{
    border-bottom: 1px solid black;
}

.hide{
    display: none;
}

.forgotPassword{
    font-family: Roboto;
}